<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="net.gasan.board">

	<select id="selectAll" resultType="com.shinsegae.dto.BoardDTO">
		select * from tbl_board order by 1 desc
	</select>
	<select id="selectById" resultType="boardvo" parameterType="int">
		select * from tbl_board where bno = #{aa}
	</select>
	<select id="selectByWriter" resultType="boardvo" parameterType="int">
		select * from tbl_board where writer = #{aa}
	</select>
	<select id="selectByTitle" resultType="boardvo" parameterType="string">
		select * from tbl_board 
		<if test="aa!=''">
		   where title like #{aa} 
		</if>
	    order by 1 desc 
	</select>
	<select id="selectByRegdate" resultType="boardvo" parameterType="map">
		select * from tbl_board 
		where regdate between  #{sdate}   and  #{edate} 
	</select>
	
	

	<insert id="boardInsert" parameterType="boardvo">
		INSERT INTO tbl_board (bno, title, content, writer, regdate, updatedate, pic)
		values( seq_bno.nextval, #{title}, #{content}, #{writer}, sysdate, sysdate, #{pic})
	</insert>
	<update id="boardUpdate" parameterType="boardvo">
		update tbl_board 
		set title = #{title}, content=#{content}, updatedate=sysdate  
		where bno = #{bno}
	</update>
	<delete id="boardDelete" parameterType="int">
		delete from tbl_board where bno = #{bno}
	</delete>
	<select id="boardEmpInfo" resultType="com.shinsegae.dto.BoardEmpVO">
	
	 SELECT b.bno, b.title, b.content , 
	        e.first_name ||' '|| e.last_name fullname 
	 FROM TBL_BOARD b JOIN EMPLOYEES e ON (b.writer = e.EMPLOYEE_ID ) 
	
	
	</select>
</mapper>



